<nav>
    <img src="/static/images/bingo.png" alt="Bingo Logo" width="480.25" height="132.5">
    <div></div>
    <a class="header-button" href="/" > Home</a>  
    <% if (loggedIn) { %>
        <a class="header-button" href="/logout"> Logout</a>
        <a class="header-button" href="/creategame">Create Game</a> 
    <a class="header-button" href="/activegames"> Your Games</a> 
    <a class="header-button" href="/lobby" > Lobby</a>
    <% } else { %>
        <a class="header-button" href="/login"> Login</a>
    <% } %>

    <a class="header-button" href="/signup" > Sign Up</a>
</nav>