<!-- Our home page -->
<%- include('template', { pageTitle, pageContent }) %>
<head> 
    <link rel="icon" href="/favicon.ico">
</head>
<main>  
    Welcome to our Bingo game! To get started, log in, then create your first game.
</main>
